.git
.github
.vscode
.devcontainer
target/
infrastructure/
docs/
monitoring/
bamboo-specs/
apm_modules/
*.md
!docker-pom.xml
!README.md
docker-compose*.yml
!docker-compose.yml
!docker-compose.override.yml
.env*
*.iml
.idea/
.settings/
.classpath
.project
